<div class="questions-container" style="background-color: white" data-controller="question-form" >
  <div style="display: flex; justify-content: space-between">
    <h1>All questions</h1>
    <button class="btn btn-primary" data-action="click->question-form#toggleForm" data-question-form-target="button">Ask question</button>
  </div>
  <div class="d-grid gap-2 p-3"><%= render "form", question: @question %></div>
  <p><strong data-question-form-target="counter"><%= @questions.count %><%= @questions.count > 1 ? " questions" : " question" %></strong></p>
  <div class="questions-container border-top" data-question-form-target="questions">
    <% @questions.each do |question| %>
      <%= render "questions/question", question: question %>
    <% end %>
  </div>
</div>
