.text-ellipsis--2 {
  text-overflow: ellipsis;
  overflow: hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.asker-infos {
  display: flex;
  justify-content: flex-end;
}

.answerer-infos {
  display: flex;
  justify-content: flex-end;
}

.question-info {
  display: flex;
  justify-content: space-between;
}

.questions-container {
  .btn{
    background: $main-dark;
    color: white;
    border-radius: 8px;
  }
}

.answers-form {
  .btn{
    background: $main-dark;
    color: white;
    border-radius: 8px;
  }
}

.questions-container {
    color: $text-grey;
}

.question-page-container {
  color: $text-grey;
}

.question-container {
  a {
    color: $secondary-light;
  }
}




