<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid footer-content">
    <div class="btn-footer">
      <i class="fa-sharp fa-solid fa-comments-question-check"></i>
    </div>
    <div class="btn-footer">
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="btn-footer">
      <i class="fa-solid fa-person-circle-question"></i>
    </div>
    <div class="btn-footer">
      <i class="fa-solid fa-calendar"></i>
    </div>
    <div class="btn-footer">
      <i class="fa-solid fa-comments"></i>
    </div>
  </div>
</div>
