
<div class="card-user">
  <div class="card-user-header">
    <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
    <div>
      <h1> Username</h1>
      <h2> Biker status</h2>
    </div>
     <p> Spoken languages: </p>
  </div>
  <div class="card-user-infos">
    <h2> Bike model</h2>
    <p> Very loooooooooooooooooooooo
    ooooooooooooooooooooooooooooooooo
    oooooooooooooooooooooooooooooooooo
    ooooooooooooooooooooooooooooooooooo
    ooooooooooooooooooooooooooooooooooo
    ooooooooooooooooooong description</p>
    <div id="btn-user-card">
      <a href="" class="btn filter" >Contact Username</a>
    </div>
  </div>
</div>
