<div class="map">
<%= render "shared/navbar" %>
</div>
<div class="search">
  <div class="icon">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="text">
    <p>Where are we going?</p>
  </div>
</div>
<div class="search">
  <div class="icon">
    <i class="fa-solid fa-users"></i>
  </div>
  <div class="text">
    <p>Find bikers around me</p>
  </div>
</div>

<div class="btn-contain container">
  <a href="" class="btn filter">Bike shops</a>
  <a href="" class="btn filter">Camp sites</a>
  <a href="" class="btn filter">Tourism</a>
</div>
<%= render "shared/footer" %>
