.card-meetings {
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 12px;
  border-radius: 18px;
}

.less {
  p {
    margin: 0;
  }
}

#marg-top {
    margin-top: 16px !important;
}

.send-meeting {
  width: 100%;
  color: white;
  background-color: #417193;
  border-radius: 50px;
  border: none;
  padding: 8px;
}
