.btn-contain {
  background-color: #3CC1AA;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filters {
  color: white;
  background-color: #219B85;
  border-radius: 8px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #3CC1AA;
}

.map {
  width: 100%;
  height: 400px;
  z-index: -1;
}

.fa-user {
  color: #0F469C;
  font-size: 25px;
}

.navbar-toggler {
  border: solid;
  border-radius: 50px;
  border-color: #0F469C;
  background-color: white;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border-color: #0F469C;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
