.btn-contain {
  background-color: $main-light;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filters {
  color: black;
  background-color: $main-dark;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95px;
  border: solid black 1px;
  i {
    color: black !important;
  }
}

.filters-active {
  background-color: $secondary-dark;
  border: solid black 1px;
  color: white;
}

body {
  background-color: $main-light;
}

.map {
  width: 100%;
  height: 400px;
  // z-index: -1;
}

.fa-user {
  color: $secondary-dark;
  font-size: 22px;
}

.user-icon {
  border: solid;
  border-radius: 50px;
  border-color: $secondary-dark;
  background-color: white;
  padding: 8px 12px;
}

.navbar-toggler {
  border: none;
  // border-radius: 50px;
  // border-color: $secondary-dark;
  // background-color: white;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border-color: $secondary-dark;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-long{
  width: 200px;
}

.menu-extension-button {
  background-color: black;
  border-radius: 25%;
  height: 6px;
  width: 40px;
}
