.footer-content{
  display: flex;
  z-index: -1000;
  font-size: 30px;
  background-color: white;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position:fixed;
  bottom:0;
}
