.small-card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px 5px 0px 0px;
  margin-left:-16px;
  width: 100%;
  position: absolute;
  left: 1rem;
  right: 1rem;
  z-index: 60;
  bottom: 0;
  transition: bottom 1s ease;
}

.small-card-hidden{
  display: none;
}

.subtitle{
  font-size: 16px;
}

.closing-cross{
  padding:10px;
  font-weight: 600;
}

.small-card-header{
  margin: 10px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  // padding-bottom: 0.7rem;

  h1{
    font-size: 25px;
    font-weight:bolder;
    flex:1;
  }

  h2{
    flex: 1;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
  }

  .fa-solid{
    font-size: 25px;
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
  }
}

.small-card-shown{
  bottom: 5px;
}

.small-card-header{
  display: flex;
  align-items: center;
}

// .small-card p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

.small-card .small-card-infos {
  padding: 2px 10px 10px 10px;
  h2{
    font-size: 16px;
  }

  p{
    margin-bottom: 10px;
  }
  #btn-small-card{
    display:flex;
    justify-content:center;
    padding-top: 10px;
  }
}

#closing-cross-itinerary{
  padding:0;
}
