.map {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 24%;
  margin-left: -25%;
  top: 100px;
  }
  .mapboxgl-ctrl-geocoder {
  min-width: 100%;
  }
  #map {
  margin-top: 75px;
  }
