.card.msg {
  background-color: $main-light !important;
  border: none !important;
}

.form-outline {
  padding: 6px;
}

.form-control {
  border-radius: 50px;
}
.message {
  margin-bottom: 8px;
  .message-infos {
    display: flex;
    align-items: center;
    margin: 0 4px;
    font-size: 0.75rem;
    color: white;
    p {
      margin: 0;
    }
  }

  .message-avatar {
    height: 35px;
    width: 35px;
    object-fit: cover;
    object-position: center;
    border: 1px rgb(200, 200, 200) solid;
    border-radius: 50%;
    margin: 0 4px;
  }
  .message-content {
    display: flex;
    p {
      width: 80%;
      margin: 0;
      border: 1px rgb(200, 200, 200) solid;
      padding: 8px 16px;
      border-radius: 50px;
      background-color: lightgrey;
    }
  }
}
// This is what displays the message on the right
.message.sender {
  .message-infos {
    flex-direction: row-reverse;
  }
  .message-content {
    flex-direction: row-reverse;
    p {
      background-color: white !important;
    }
  }
}

.card-product {
  overflow: hidden;
  height: 110px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  .message-avatar {
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
    border: 1px rgb(200, 200, 200) solid;
    border-radius: 50%;
    margin: 0 4px;
  }
  .fa-arrow-left {
    font-size: 30px;
    margin: 0 20px;
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-index {
  overflow: hidden;
  height: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  .fa-arrow-left {
    font-size: 30px;
    margin: 0 20px;
  }
  h1 {
    color:white;
  }
}

.btn-meeting {
  background-color: $secondary-dark;
  border-radius: 50px;
  padding: 8px;
  margin: 0 6px;
}
