.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  padding: 6px;
  background-color: white;
  border-radius: 8px;
  border: solid black 1px;
}

.search-active {
  background-color: $secondary-light;
  .text {
    p {
      color: white !important;
    }
  }
}

.search .icon {
  justify-self: flex-start;
  margin-left: 12px;
}
.text-input {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  text-align: center;
  padding-right: 31px;
}

.text p {
  margin: 0;
}

.search .text {
  flex: 1;
  margin: auto;
}

i {
  color: $secondary-dark;
}
