.card-user {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px 5px 0px 0px;
  margin-left:-16px;
  width: 100%;
  position: absolute;
  left: 1rem;
  right: 1rem;
  z-index: 60;
  bottom: 0;
  // transition: bottom 1s ease;
  // animation: normal;
  // animation-duration: 10s;
  transform: translateY(10px);
}

.subtitle{
  font-size: 16px;
}

.closing-cross{
  padding:10px;
  font-weight: 600;
}

.name-col{
  margin-left: 20px;
}

.card-user-header{
  margin: 10px 10px 5px 10px;
  display: flex;
  justify-content:flex-start;
  border-bottom: 0.05rem solid lightgrey;
  padding-bottom: 0.7rem;

  h1{
    font-size: 30px;
    font-weight:bolder;
    flex:1;
  }

  h2{
    flex: 1;
    font-size: 16px;
    font-weight: normal;
  }

  p{
    justify-content: right;
    align-self: top;
  }

  .fa-solid{
    font-size: 25px;
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
  }
}

.card-user-shown{
  bottom: 5px;
}

.card-user-header{
  display: flex;
  align-items: center;
}

.card-user p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-user .card-user-infos {
  padding: 2px 10px 10px 10px;
  h2{
    font-size: 16px;
  }

  p{
    margin-bottom: 10px;
    font-size: 16px;
  }
  #btn-user-card{
    display:flex;
    justify-content:center;
  }
}
